<section class="bg-white">
    <div class="container-lg">
        <div class="part" style="margin-top: 0;">
            <div class="div-title">
                <h4>Politique d'Expédition pour Acila by Cartajlife</h4>
            </div>
            <p class="update">Dernière mise à jour : 14/04/2023</p>
            <p>Bienvenue sur la page de politique d'expédition d'Acila by Cartajlife. Nous
                sommes ravis de vous fournir des détails sur notre processus d'expédition et de
                livraison. Votre satisfaction est notre priorité, et nous travaillons dur pour
                garantir que vos produits vous parviennent rapidement et en parfait état.
            </p>
        </div>
        <div class="part">
            <div class="div-title">
                <h4>Délais de Traitement</h4>
            </div>
            <p>Une fois que vous avez passé votre commande, veuillez prévoir [X] jours
                ouvrables pour le traitement de votre commande. Nous nous efforçons de
                préparer et d'expédier vos articles le plus rapidement possible tout en
                garantissant la qualité et l'exactitude de chaque commande.</p>
        
             
        </div>
        <div class="part">
            <div class="div-title">
                <h4>Modes d'Expédition</h4>
            </div>
            <p>Nous offrons plusieurs options d'expédition pour répondre à vos besoins :

                Livraison Standard : Prévoyez [X] jours ouvrables pour la livraison.
                Livraison Express : Profitez d'une livraison plus rapide en [X] jours ouvrables.
                Veuillez noter que les délais d'expédition peuvent varier en fonction de votre
                emplacement géographique et des conditions actuelles.
            </p>
        </div>
        <div class="part">
            <div class="div-title">
                <h4>Frais d'Expédition</h4>
            </div>
            <p>Les frais d'expédition sont calculés en fonction de votre adresse de livraison et
                de la méthode d'expédition que vous choisissez. Vous verrez les frais exacts au
                moment du paiement avant de finaliser votre commande.
            </p>
        </div>
        <div class="part">
            <div class="div-title">
                <h4>Suivi de Commande</h4>
            </div>
            <p>Une fois que votre commande a été expédiée, nous vous fournirons un numéro
                de suivi par e-mail. Vous pourrez ainsi suivre l'évolution de votre colis et avoir
                une estimation plus précise de la date de livraison.
            </p>
       
            
        </div>
        <div class="part">
            <div class="div-title">
                <h4>Problèmes de Livraison</h4>
            </div>
            <p>Si vous rencontrez des problèmes avec la livraison de votre commande, veuillez
                nous contacter à [adresse e-mail] ou par téléphone au [numéro de téléphone].
                Nous ferons de notre mieux pour résoudre rapidement tout problème lié à la
                livraison.</p>
        </div>

        <div class="part">
            <div class="div-title">
                <h4>Livraison Internationale</h4>
            </div>
            <p>Nous offrons également la livraison internationale dans certains pays. Les
                délais de livraison et les frais peuvent varier en fonction de la destination.
                Veuillez consulter notre page de commande pour plus d'informations sur la
                disponibilité de la livraison internationale.</p>
        </div>

        <div class="part">
            <div class="div-title">
                <h4>Modifications de la Politique d'Expédition</h4>
            </div>
            <p>Nous nous réservons le droit de modifier notre politique d'expédition à tout
                moment. Toutes les modifications seront publiées sur cette page.</p>
        </div>


        <div class="part">
            <div class="div-title">
                <h4>Contactez-Nous</h4>
            </div>
            <p>Si vous avez des questions concernant notre politique d'expédition, n'hésitez
                pas à nous contacter à <span style="color: blue;">contact@cartajlife.com</span>
              <br>  ou par téléphone au <span style="color: green;">+216 95 046 164</span>.</p>
        </div>
    </div>
</section>
