
<section style="margin-top: 150px;">
  <!-- Header section (vous pouvez ajouter votre en-tête ici) -->

  <!-- Titre de la page -->
  <div class="div-title">
    <h2>À Propos de Nous</h2><br>
    <p>Bienvenue chez Acila by Cartajlife, votre destination pour des produits cosmétiques naturels et bio de qualité supérieure.<br> Notre entreprise est née de la passion pour la beauté naturelle et le bien-être, combinée à notre engagement envers l'éthique et la durabilité.</p>
  </div>

  <!-- Contenu de la page À Propos -->
  <div class="container-lg">
    <div class="row">
      <div class="col-md-6">
        <img src="../assets/images/op.jpg" alt="À Propos de Nous" style="margin-top: 30px;">
      </div>
      <div class="col-md-6" >
        <h3>Notre Histoire</h3>
        <p>L'aventure Acila a commencé avec une vision : apporter des soins de beauté qui nourrissent le corps et l'âme. Fondée en Tunisie, notre entreprise tire son inspiration de la richesse de la nature environnante <br>et de l'héritage traditionnel des remèdes naturels.</p>
        <h3>Notre Mission</h3>
        <p>Notre mission chez Acila by Cartajlife est de redéfinir la beauté en mettant en avant la puissance des ingrédients naturels et bio. Nous nous engageons à offrir des produits qui favorisent la santé de votre peau tout en respectant la planète. Chaque produit que nous proposons est soigneusement conçu pour vous offrir une expérience de beauté holistique.</p>
      </div>
    </div>
  </div>

  
<!-- Section Nos Engagements Éthiques -->
<img src="../assets/images/labo.jpg" alt="Nos Engagements Éthiques" style="margin-left: 700px;
width:500px;">
<div class="row image2">
    <div class="col-md-6">
      <h3>Nos Engagements Éthiques</h3><br>
      <ul>
        <li><strong>Responsabilité Sociale :</strong> Nous soutenons les communautés <br>locales en privilégiant des ingrédients issus du commerce équitable.</li>
        <li><strong>Aucun Test sur les Animaux :</strong> Nous sommes fiers d'être une marque<br> cruelty-free et de ne pas effectuer de tests sur les animaux.</li>
        <li><strong>Emballages Écologiques :</strong> Nous utilisons des matériaux d'emballage<br> recyclables pour réduire notre impact environnemental.</li>
      </ul>
    </div>


  <!-- Footer section (vous pouvez ajouter votre pied de page ici) -->


