<section class="bg-white">
  <div class="container-lg">
      <div class="row">
          <div class="col-sm-7">
              <div class="div-title">
                  <h2>Contact</h2>
              </div>
              <form action="">
                  <div class="row cont-row field">
                      <div class="col-sm-3"><label>Nom</label><span>:</span></div>
                      <div class="col-sm-8"><input type="text" placeholder="Entrez votre nom" name="name" class="form-control input-sm" ></div>
                  </div>
                  <div class="row cont-row field">
                      <div class="col-sm-3"><label>Adresse e-mail</label><span>:</span></div>
                      <div class="col-sm-8"><input type="text" name="name" placeholder="Entrez votre adresse e-mail" class="form-control input-sm" ></div>
                  </div>
                  <div class="row cont-row field">
                      <div class="col-sm-3"><label>Num de téléphone</label><span>:</span></div>
                      <div class="col-sm-8"><input type="text" name="name" placeholder="Entrez votre numéro de téléphone" class="form-control input-sm" ></div>
                  </div>
                  <div class="row cont-row field">
                      <div class="col-sm-3"><label>Sujet</label><span>:</span></div>
                      <div class="col-sm-8"><input type="text" name="name" placeholder="Entrez le sujet" class="form-control input-sm" ></div>
                  </div>
                  <div class="row cont-row field">
                      <div class="col-sm-3"><label>Message</label><span>:</span></div>
                      <div class="col-sm-8">
                          <textarea style="background-color:#fff" rows="5" placeholder="Entrez votre message" class="form-control input-sm"></textarea>
                      </div>
                  </div>
                  
                  <div class="row field-button">
                      <div class="col-sm-3"><label></label></div>
                      <div class="col-sm-8">
                          <button class="btn btn-light btn-sm">Envoyer le Message</button>
                      </div>
                  </div>
              </form>
          </div>
          <div class="col-sm-5">
              <div class="serv">
                  <div class="div-title">
                      <h2>Adresse</h2>
                  </div>
                  <p>2, Rue Abou El Kacem Chebbi,
                    Immeuble la Rose médicale,
                    2080 Ariana</p>
                  <p>Téléphone : +216 95 046 164</p>
                  <p>E-mail : contact@cartajlife.com</p>
              </div>
          </div>
      </div>
  </div>
</section>

<div style="margin-top: 0px;" class="row no-margin">
    <iframe style="width: 100%" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3190.8435461848063!2d10.1095031!3d36.8032432!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12fd3247a2f19d3d%3A0x8f97a02198b61f22!2s2%20Rue%20Abou%20El%20Kacem%20Chebbi%2C%20Immeuble%20la%20Rose%20m%C3%A9dicale%2C%202080%20Ariana!5e0!3m2!1sen!2stn!4v1630663923650!5m2!1sen!2stn" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  </div>
