   
    <section class="bg-white">
        <div class="container-lg">
            <div class="div-title">
              <h2>Nos Blogs</h2>
              <p>Restez à Jour avec Nos Nouveaux Articles de Blog</p>
          </div>

        <div class="box-container">


            <div class="box shadow">

                <div class="image">
                    <img src="../assets/images/Type-de-peau.jpg" alt="">
                    <div class="likes"><i class="bi bi-heart-fill"></i><p>77</p></div>
                </div>
                <div class="content">
                    <h5>Découvrez les différents Types de peau</h5>
                    <p>La surface de la peau est recouverte d'un film hydrolipidique : un mélange de sueur, responsable de l'hydratation de la peau et de l'équilibre de la flore cutanée, et de sébum, elle forme un film protecteur à la surface de la peau, qui empêche l'eau de s'évaporer et qui permet de lutter contre les germes pathogènes.</p>
                    <a target="_blank" href="https://www.eucerin.fr/a-propos-de-la-peau/comprendre-la-peau/types-de-peaux#:~:text=Il%20existe%20quatre%20types%20de,externes%20auxquels%20elle%20est%20expos%C3%A9e." class="btn">Lire la suite</a>
                </div>

            </div>


            <div class="box shadow">

                <div class="image">
                    <img src="../assets/images/aloe.jpg" alt="">
                    <div class="likes"><i class="bi bi-heart-fill"></i><p>82</p></div>
                </div>
                <div class="content">
                    <h5>L'Aloé Vera, la Plante Miraculeuse</h5>
                    <p>L'aloe vera est une plante célèbre pour ses propriétés apaisantes et hydratantes. Présente dans nos produits pour le soin de la peau, elle aide à calmer les irritations et à favoriser la cicatrisation. Grâce à sa teneur en nutriments bénéfiques, l'aloe vera est un ingrédient incontournable pour une peau éclatante.</p>
                    <a target="_blank" href="https://www.passeportsante.net/fr/Actualites/Dossiers/DossierComplexe.aspx?doc=aloe-vera-plante-miraculeuse-nombreuses-vertus#:~:text=L'alo%C3%A9%20vera%20rentre%20dans,outre%20positivement%20sur%20l'acn%C3%A9." class="btn">Lire la suite</a>
                </div>

            </div>


            <div class="box shadow">

                <div class="image">
                    <img src="../assets/images/charbon.jpeg" alt="">
                    <div class="likes"><i class="bi bi-heart-fill"></i><p>64</p></div>
                </div>
                <div class="content">
                    <h5>Le Charbon Actif, une Pureté Profonde</h5>
                    <p>Dans notre quête pour des produits de nettoyage efficaces, nous utilisons le charbon actif dérivé de sources naturelles. Il agit comme un aimant pour les impuretés et les toxines, laissant votre peau propre et revitalisée. C'est l'ingrédient parfait pour détoxifier en douceur votre peau et révéler son éclat naturel.</p>
                    <a target="_blank" href="https://www.prodigia-cosmetics.com/charbon-actif-lingredient-detox-par-excellence/" class="btn">Lire la suite</a>
                </div>

            </div>

            <div class="box shadow">

                <div class="image">
                    <img src="../assets/images/npo.jpg" alt="">
                    <div class="likes"><i class="bi bi-heart-fill"></i><p>84</p></div>
                </div>
                <div class="content">
                    <h5>L'Argan, un Élixir pour tous types de Peau</h5><br>
                    <p>L'huile d'argan est l'un des joyaux du Maroc que nous intégrons dans plusieurs de nos produits. Riche en acides gras essentiels et en vitamine E, l'huile d'argan hydrate en profondeur, nourrit et régénère la peau. Elle est idéale pour apaiser les peaux sensibles et sèches, tout en aidant à réduire l'apparence des rides.</p>
                    <a target="_blank" href="https://www.gillette.fr/fr-fr/astuces-rasage/soins-de-la-peau/huile-argan" class="btn">Lire la suite</a>
                </div>

            </div>

            <div class="box shadow">

                <div class="image">
                    <img src="../assets/images/pm.jpg" alt="">
                    <div class="likes"><i class="bi bi-heart-fill"></i><p>70</p></div>
                </div>
                <div class="content">
                    <h5>L'Éclat Naturel : Les Avantages des Huiles Essentielles </h5><br>
                    <p>Explorez le monde des huiles essentielles et leur impact sur la beauté de votre peau. Découvrez comment les huiles essentielles naturelles peuvent calmer, purifier et revitaliser votre teint. Plongez dans leurs propriétés aromatiques et leurs bienfaits pour une expérience de soin luxueuse.</p><br>
                    <a target="_blank" href="https://www.lesjardins-suspendus.com/huile-essentielle-sur-la-peau/#:~:text=anti%2Dimperfections%2C%20anti%20bact%C3%A9riennes%2C,lutte%20contre%20le%20vieillissement%20cutan%C3%A9" class="btn">Lire la suite</a>
                </div>

            </div>

            <div class="box shadow">

                <div class="image">
                    <img src="../assets/images/bv.jpg" alt="" style="height:235px">
                    <div class="likes"><i class="bi bi-heart-fill"></i><p>92</p></div>
                </div>
                <div class="content">
                    <h5>Le Rituel de Soins Minimalistes : Comment Prendre Soin de Votre Peau en Quelques Étapes</h5>
                    <p>Simplifiez votre routine de soins tout en obtenant des résultats éclatants. Découvrez comment un rituel de soins minimalistes peut aider à nettoyer, hydrater et protéger votre peau. Apprenez les étapes essentielles et les produits clés pour une routine efficace qui convient à tous les types de peau.</p>
                    <a target="_blank" href="https://www.akane-skincare.com/blog/le-skip-care-ma-nouvelle-routine-beaute-minimaliste--n108#:~:text=Cette%20routine%20beaut%C3%A9%20minimaliste%20se,des%20soins%20suppl%C3%A9mentaires%20si%20besoin." class="btn">Lire la suite</a>
                </div>

            </div>

        

            
        </div>
    </div>
    </section>
 
